/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.my-radio-group {
    flex-direction: column;
    display: inline-flex;
}

[md-button]:link, [md-button]:visited, [md-button]:hover, [md-button]:active {
    color: rgba(255,255,255,.87) !important;
    text-decoration: none !important;
}

[md-button].active {
    color: #ff4081 !important;
    text-decoration: none !important;
}