<h1>Regisztrációs felület</h1>

<div class="container">
    <div class="form-group">
        <md-input-container>
            <input mdInput placeholder="Teljes név" [(ngModel)]="regist.fullName"/>
        </md-input-container>
    </div>
    <div class="form-group">
        <md-input-container>
            <input type="email" mdInput placeholder="Email" [(ngModel)]="regist.email"/>
        </md-input-container>
    </div>
    <div class="form-group">
        <md-input-container>
            <input mdInput placeholder="Felhasználónév" [(ngModel)]="regist.userName"/>
        </md-input-container>
    </div>
    <div class="form-group">
        <md-input-container>
            <input type="password" mdInput placeholder="Jelszó" [(ngModel)]="regist.password"/>
        </md-input-container>
    </div>
    <div class="form-group">
        <md-input-container>
            <input type="password" mdInput placeholder="Jelszó még egyszer" [(ngModel)]="regist.confirmPassword"/>
        </md-input-container>
    </div>
    <button md-raised-button color="primary" (click)="registrate()">Regisztráció</button>

    <div class="message" *ngIf="message">
        <div class="text-danger" *ngIf="message?.succeeded == false">
            <div *ngFor="let err of message?.errors">{{err.description}}</div>
        </div>
    </div>
</div>