<h1>Bejelentkezési felület</h1>

<div class="container">
    <div class="form-group">
        <md-input-container>
            <input mdInput placeholder="Felhasználónév" />
        </md-input-container>
    </div>
    <div class="form-group">
        <md-input-container>
            <input type="password" mdInput placeholder="Jelszó" />
        </md-input-container>
    </div>
    <div class="form-group">
        <md-checkbox>Emlékezz rám</md-checkbox>
    </div>
    <button md-raised-button color="primary">Bejelentkezés</button>
</div>