<h1>Bejelentkezési felület</h1>

<div class="container">
    <div class="form-group">
        <md-input-container>
            <input mdInput placeholder="Felhasználónév" [(ngModel)]="log.userName"/>
        </md-input-container>
    </div>
    <div class="form-group">
        <md-input-container>
            <input type="password" mdInput placeholder="Jelszó" [(ngModel)]="log.password"/>
        </md-input-container>
    </div>
    <div class="form-group">
        <md-checkbox [(ngModel)]="log.rememberMe">Emlékezz rám</md-checkbox>
    </div>
    <button md-raised-button color="primary" (click)="login()">Bejelentkezés</button>

    <div class="message" *ngIf="message">
        <div class="text-danger" *ngIf="message?.succeeded == false">
            {{message?.description}}
        </div>
    </div>
</div>