<h1>Feladatlap</h1>

<h3>Válaszolj az alábbi kérdésekre!</h3>

<h4>Lecke: {{courseName}}</h4>

<div *ngFor="let learnable of learnablelist | async">
    <div *ngIf="qtype==0 || qtype==3 || qtype==4" class="row form-group">
        <div class="col-md-3 col-md-offset-3">
            <md-card>{{learnable.hungarian}}</md-card>
        </div>
        <div class="col-md-3">
            <md-input-container>
                <input mdInput />
            </md-input-container>
        </div>
    </div>
    <div *ngIf="qtype==1" class="row form-group">
        <div class="col-md-3 col-md-offset-3">
            <md-card>{{learnable.english}}</md-card>
        </div>
        <div class="col-md-3">
            <md-input-container>
                <input mdInput />
            </md-input-container>
        </div>
    </div>
    <div *ngIf="qtype==2" class="row form-group">
        <div class="col-md-3 col-md-offset-3">
            <md-card>{{learnable.pictureUrl}}</md-card>
        </div>
        <div class="col-md-3">
            <md-input-container>
                <input mdInput />
            </md-input-container>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-md-offset-9">
        <button md-raised-button color="warn" *ngIf="qtype!=4">Abbahagyás</button>
        <button md-raised-button color="primary">Kész</button>
    </div>
</div>